.background {
  viewport-fill: black;
}

#basicCommand {
  x: 5%;
  y: 5%;
  fill: white;
}

#basicMessage {
  x: 5%;
  y: 15%;
  fill: white;
}

#bytesFree {
  x: 5%;
  y: 25%; 
  fill: white;
}

#getTimeMethod {
  x: 5%;
  y: 35%; 
  fill: white;
}

#printTime {
  x: 5%;
  y: 40%; 
  fill: white;
}

#timeLabel {
  x: 5%;
  y: 45%;
  fill: white;
}

#getDateMethod {
  x: 5%;
  y: 55%;
  fill: white;
}

#printDate {
  x: 5%;
  y: 60%;
  fill: white;
}

#dateLabel {
  x: 5%;
  y: 65%;
  fill: white;
}